.main {
max-width: 300px;
min-height: 500px;
box-shadow:0 0 5px grey;
color: black;
margin:0 auto;
margin-top: 10px;
background-color:whitesmoke;
padding: 0.5px 15px;
border-radius: 10px;
}
.header{
  text-align: center;
  
}
.balanc {

font-weight: bold;


}
.incomexpense{

  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow:0 0 10px grey;
  border-radius: 5px;
}
.tran-form input{
  width: 100%;
  margin:10px 0;
  padding: 5px 0;
  border-radius: 5px;
}
.btn {
  background-color: #6f55f3;
  display: block;
  width: 100%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #fff; 
  height: 32px;

}
.Trans-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}
.Trans-list > li{
display: flex;
justify-content: space-between;
padding: 5px 5px;
box-shadow: 0 0 10px grey;
background-color: white;
margin: 5px 2px 0px;
border-radius: 5px;
position: relative;


}
.mt{
  margin-top: 0px;
  padding: 0px;
  top:0px;
}
.incomecolor{
  color: #1cb85d;
}
.expensecolor{
  color: #c0392b;
}

.blncolor{
  color: #1cb85d;
}

.delete-btn:focus {
outline: 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  }

  .Trans-list li:hover .delete-btn {
  opacity: 1;
  }


.plus {
  border-right: 6px solid #2ecc71;
  }

.minus {
  border-right: 6px solid #c0392b;
  }


  
 h4 {
    margin: 15px 0px 0px 0px;
    text-transform: uppercase;
    }
 h2 {
      letter-spacing: 1px;
      margin: 0px 0px 15px 0px;
    }